/* ==========================================================================
   The end
   ========================================================================== */

/**
 * Just another way to say goodbye on your website using a pure css fake modal window.
 *
 * For more information about how to use content:
 * https://www.w3.org/TR/css3-content/#inserting3
 *
 * Some suggestions about how to shut down a website:
 * https://www.smashingmagazine.com/2014/05/last-goodbye-shut-down-failing-product/
 *
 */

html::before {
	position: fixed;
	z-index: 9998;
	display: block;
	width: 100%;
	height: 100%;
	content: "";
	background-color: rgba(0,0,0,0.7);
}

html::after {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	z-index: 9999;
	display: block;
	width: 320px;
	height: auto;
	box-sizing: border-box;
	padding: 20px;
	margin-left: -150px;
	color: #000;
	background-color: #fff;
	box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.6);

	/* Replace your content here */
	content: "This website will not be available after one week. Thanks! We will miss you.";
}
