/* ==========================================================================
   The end Awesome
   ========================================================================== */

/**
 * If you need something more awesome with no js you can use this :-P
 * Of course you can extend the content or customize it as you need.
 *
 * Example HTML:
 *
 * <div id="the-end" class="the-end-overlay">
 * 		<div class="the-end-popup">
 *          <a href="">close</a>
 *			<p>Your content here</p>
 *      </div>
 * </div>
 */

.the-end-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: opacity 500ms;
	background: rgba(0,0,0,0.7);
}

.the-end-overlay:target {
	visibility: visible;
	opacity: 1;
}

.the-end-popup {
	width: 100%;
	max-width: 320px;
	padding: 20px;
	box-sizing: border-box;
	background: #fff;
}